


/*Footer*/
.footer-bg{
    background-color: #504E6D;
    color: #f9f9f9;
}
.footer-padd{
    padding: 75px 0;
}
.foot-logo{
    max-width: 145px;
    max-height: 50px;
    margin-bottom: 30px;
}
.foot-col-padd{
    padding: 0 20px;
}
.dream-text p{
    font-size: 14px;
    font-family: 'Open sans'; 
    color: #dedede;
    padding-top: 20px;
}
.foot-icon{
    margin-top: 25px;
    font-size: 13px;
    color: #ececec;
    margin-right: 18px;
}
.foot-icon:hover{
    color: #9fd7ef;
}
@media (max-width: 768px){
    .pop-col{
        margin: 20px 0;
    
    }
    }
.pop-col span{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif; 
    color: #ffffff;
    text-transform: uppercase;
}
.pop-col hr{
    border: 1px solid #f65aa7;
    width: 65px;
    margin-left: 0;
    margin-right: 0;
}
.pop-link a{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Open Sans'; 
    color: #dedede;
    display: flex;
}
.ltl-blog{
    display: inline-flex;
}
.blog-img{
    width: 75px;
    max-height: 75px;
}
.news {
    padding-left: 30px;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}
.blog-vl{
color: #777777;
margin: 0 5px;
}
.blog-icon{
    margin-right:5px;
    font-size: 13px;
    color: #f65aa7;
}
.recent-hr{
    border: 0.5px solid  #777777!important;
    width: 95%!important;
}
.view-blog{
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Roboto Slab', serif; 
    color: #9fd7ef;
    font-weight: bold;
}
.view-blog:hover{
    color: #9fd7ef;
   
}
.contact-icon{
    border: 1px solid #9fd7ef;
    border-radius: 50%;
    padding: 10px;
    width: 38px;
    height: 38px;
    text-align: center;
    margin: 0 20px;
}
.contact-row-margin{
    margin-top: 20px;
}
.contact-row-margin p{
    margin: auto 0;
}
