.main-container {
    max-width: 1950px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color:#BED1CD;
}

.inside-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.nav-bg-color {
    background-color: #E3B9B7;
}
   
.nav-contain {
   margin-top: 30px;
   margin-bottom: 30px;
}
   
.navbar img {
       width: 200px;
}
   
.nav-list .menu {
       color: black;
       font-family: 'Roboto Slab', serif;
       font-weight:10px; 
       font-size: 15px;
       line-height: 26px;
       padding: 0 20px;
       text-decoration: none;        
}
   
.nav-list .menu:hover {
       color: #f65aa7;
}
   
.color-line {
       color: #999999!important;
}
   
.last-spc {
       padding: 0 10px;
}
   
.icon-color {
       color: #f65aa7!important;
       margin: 1px auto
}
   
i:hover {
       color: #f65aa7;
       cursor: pointer;
}
   
@media (max-width: 1200px) {
       .nav-list .menu, .menu-last {
           text-align: center;
           padding: 0px 16px;
       }
       .last-spc {
           padding: 0 10px!important;
       }
}
   
@media (max-width: 992px) {
       .nav-list .menu, .menu-last {
           text-align: center;
           padding: 10px 10px!important;
       }
       .navbar-nav .color-line {
           display: none;
       }
}

.connect {
    background-color:#BED1CD;
    min-height: 210px;
}  

.subheading {
    margin: 70px auto;
    color: #ececec;
}

.subheading h1 {
    text-transform: uppercase;
    color: #ececec;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
}

.breadcrumb {
    display: block!important;
    background-color: transparent;
}

.page-linker {
   text-align: center;
}

.page-linker a {
   color: #ececec;
   font-size: 13px;
}

.page-linker a:hover {
   text-decoration: none;
}

.page-linker i {
    font-size: 13px;
    margin:auto 5px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "";
}

.active {
    color: #f65aa7!important;
}

.heading h2 {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-top: 40px;
}

.row-pad {
    padding: 35px;
}

.content h3 {
    font-size: 15px;
    text-align:  left;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.content h3:hover {
    color:rgb(68, 2, 248)
}

.content p {
    color: #777777;
    font-size: 13.5px;
    text-align: left;
    font-family: 'Open Sans';  
    min-height: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.read-more {
    background-color: #cf5db6;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;  
    border-radius: 6px;
    border: none;
}

.rd-btn {
    margin: auto auto;
    text-align: center;
} 

.read-more:hover {
    text-decoration: none;
    color: white;
    background-color: #5a0c49;
    cursor: pointer;
}

.card {
    background-color: rgba(252, 253, 253, 0.904);
    height: 220px;
}

.card:hover {
    box-shadow: 0 0 5px 4px rgba(96, 96, 100, 0.911);
}

.content hr {
    border-color: #e0dbdb;
    display: inline-flex;
    width: 100%;
}

.st-part {
    background-color:#9bc0b7; 
}

.big-row {
    margin-bottom: 30px;
    padding: 30px;
}

.row-padd {
   padding:  40px 0;  
   margin-right: 20px; 
}

.row-padd h3 {
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: #232323;
}

.row-padd p {
    font-size: 14px;
    font-family: 'Open Sans';
    color: #767676;
}

.row-padd h3:hover {
    color:rgb(68, 2, 248)
}

.col-pad {
    padding-right: 0px;
    text-align: right;
}


.col-pad-1 {
    padding-right: 10px;
}

.col-pad a {
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    color: #7a2847;
}

.col-pad-1 a {
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    color: #7a2847;
}
