.main-container {
    max-width: 1950px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color:#BED1CD;
}

.inside-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.nav-bg-color {
    background-color: #E3B9B7;
}
   
.nav-contain {
   margin-top: 30px;
   margin-bottom: 30px;
}
   
.navbar img {
       width: 200px;
}
   
.nav-list .menu {
       color: black;
       font-family: 'Roboto Slab', serif;
       font-weight:10px; 
       font-size: 15px;
       line-height: 26px;
       padding: 0 20px;
       text-decoration: none;        
}
   
.nav-list .menu:hover {
       color: #f65aa7;
}
   
.color-line {
       color: #999999!important;
}
   
.last-spc {
       padding: 0 10px;
}
   
.icon-color {
       color: #f65aa7!important;
       margin: 1px auto
}
   
i:hover {
       color: #f65aa7;
       cursor: pointer;
}
   
@media (max-width: 1200px) {
       .nav-list .menu, .menu-last {
           text-align: center;
           padding: 0px 16px;
       }
       .last-spc {
           padding: 0 10px!important;
       }
}
   
@media (max-width: 992px) {
       .nav-list .menu, .menu-last {
           text-align: center;
           padding: 10px 10px!important;
       }
       .navbar-nav .color-line {
           display: none;
       }
}

.connect {
    background-color:#BED1CD;
    min-height: 210px;
}  

.subheading {
    margin: 70px auto;
    color: #ececec;
}

.subheading h1 {
    text-transform: uppercase;
    color: #ececec;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
}

.breadcrumb {
    display: block!important;
    background-color: transparent;
}

.page-linker {
   text-align: center;
}

.page-linker a {
   color: #ececec;
   font-size: 13px;
}

.page-linker a:hover {
   text-decoration: none;
}

.page-linker i {
    font-size: 13px;
    margin:auto 5px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "";
}

.active {
    color: #f65aa7!important;
}
