.main-container {
    max-width: 1950px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color:#BED1CD;
}
.inside-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
.row-spc{
    margin: 0 auto!important;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
   
}
i:hover{
    color: #f65aa7;
    cursor: pointer;
}
.icon-scp{
    font-size: 12px;
    color: white;
    margin: 5px 5px;
    
}
.icon-scp .left-side {
    display: flex;
}
.icon-scp .left-side .link-head {
    margin: 0 5px;
}
.icon-scp .left-side .link-head i {
    margin: 0 5px 0 0;
}
.contact-color{
    background-color: #232323;
    min-height: 50px;
}

.col-disp{
    margin: 10px;
    display: flex; 
}

.link-head{
    color: white;
}
.link-head:hover{
    text-decoration: none;
    color: #f65aa7;
    cursor: pointer;
}

.nav-bg-color{

background-color: #E3B9B7;

}
.nav-contain{
margin-top: 30px;
margin-bottom: 30px;

}
.navbar img{
    width: 200px;
}
.nav-list .menu {
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight:10px; 
    font-size: 15px;
    line-height: 26px;
    padding: 0 20px;
    text-decoration: none;        
}
.nav-list .menu:hover {
    color: #f65aa7;
}
.color-line{
    color: #999999!important;
}
.last-spc{
    padding: 0 10px;
}
.carousel-height img{

    max-height: 800px;
}
.icon-color {
    color: #f65aa7!important;
    margin: 1px auto
}
@media (max-width: 1200px){
    .nav-list .menu, .menu-last{
        text-align: center;
        padding: 0px 16px;
    }
    .last-spc{
        padding: 0 10px!important;
    }
}
@media (max-width: 992px){
    .nav-list .menu, .menu-last{
        text-align: center;
        padding: 10px 10px!important;
    }
    .navbar-nav .color-line {
        display: none;
    }
     
    
}
@media (max-width: 575.98px) { 
    .icon-scp .left-side  {
        display: grid;
    }
    .icon-scp .left-side .link-head {
        margin: 3px 0; 
    }
    .icon-scp .left-side  span {
        display: none;
     }
      .col-disp{
        margin: 5px;
        display: unset;
        text-align: center;
    }
}
